body {
    background-color: #CCCCCC;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input {
  padding: 0.3rem;
  margin : 0.4rem;
  width: 25rem;
  margin-left: 4rem;
  border-radius: 0.2rem;
  border: none;
}

button {
    width: 5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #280F2C;
    border: none;
    border-radius: 0.3rem;
    color:whitesmoke
}

.container {
    background-color: #280F2C;
    width: 37.5rem;
    border-radius: 0.3125rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}


.flex-container {
    display: flex;
    justify-content: center;

}

.title {
    font-size: 2rem;
    text-align: center;
    color:rgb(255, 187, 0);
    width: 700;
    margin-bottom: 1rem;
    margin-top: -1rem;

}

.text {
    text-align: center;
    color: white;
    margin: 0.2rem;
}

.forms {
    background-color: #621F6E;
    width: 90%;
    border-radius: 0.3125rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    
}

.subtitle {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    color: white;
    
}


.boxes {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    
}


.item-conteiner {
    background-color: #3C5BEE;
    color: white;
    padding: 0.1rem;
    text-align: center;
    border: #06070a;
    margin: 0.9rem;
    border-radius: 0.3rem;

}

    .option {
        background-color: #6f87fd;
        margin: 0.4rem;
        width: 8.5rem;
    
        
    }

    .image {
        margin-left: -0.6rem;
    }

    .games {
        padding: 1rem;
    font-size: 1.2rem;
    }




